*, *::before, *::after {
  box-sizing: border-box;
}

.bagr {
  background-image: url("https://images.pexels.com/photos/306763/pexels-photo-306763.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center center;
}

.container {
  width: 1140px;
}

.logo-nav {
  padding-top: 20px;
}

.logo {
  color: #ffd32a;
  font-size: 30px;
  font-family: "Viaoda Libre", cursive;
  text-align: center;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.greet {
  margin-top: 120px;
  padding-bottom: 90px;
}

.welcome {
  text-align: center;
  margin: 60px 0 40px 0;
}

.welcome h4 {
  color: #fff;
  font-size: 40px;
  font-family: "Yellowtail", cursive;
  text-transform: capitalize;
}

.welcome h2 {
  color: #fff;
  font-size: 60px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.btn-warning {
  color: #fff;
}

.icons {
  text-align: center;
}

.icons i {
  width: 80px;
  height: 80px;
  color: #ffd32a;
  font-size: 40px;
  border-radius: 40px;
  border: #ffd32a solid 4px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.icons h4 {
  margin: 30px 0;
  font-size: 30px;
  font-weight: 700;
}

.icons p {
  margin: 0;
  color: #808e9b;
}

.services {
  margin: 60px 0;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.subtitle {
  font-family: "Yellowtail", cursive;
  font-size: 20px;
  text-align: center;
  color: #808e9b;
}

.our-portfolio {
  background-color: #f5f6fa;
}

.our-portfolio h2 {
  padding-top: 60px;
}

.our-portfolio h5 {
  padding-bottom: 60px;
}

.description {
  background-color: #fff;
  width: 350px;
  text-align: center;
}

.title-box {
  text-transform: capitalize;
  font-weight: 700;
  color: #1e272e;
  padding: 15px 0;
  margin-bottom: 0;
}

.subtitle-box {
  text-transform: capitalize;
  font-family: "Yellowtail", cursive;
  color: #808e9b;
  padding-bottom: 20px;
}

.our-portfolio img {
  height: 233px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQTtFQUNJLHNCQUFxQjtBQ0F6Qjs7QURnQkE7RUFDSSwrSEFBK0g7RUFDL0gsc0JBQXNCO0VBQ3RCLGtDQUFrQztBQ2J0Qzs7QURlQTtFQUNJLGFBQWE7QUNaakI7O0FEZUE7RUFDSSxpQkFBaUI7QUNackI7O0FEY0E7RUFDSSxjQUFjO0VBQ2QsZUFBZTtFQUNmLG9DQW5COEI7RUFvQjlCLGtCQUFrQjtBQ1h0Qjs7QURhQTtFQUNJLFdBQVc7RUFDWCx5QkFBeUI7RUFDekIsZUFBZTtBQ1ZuQjs7QURZQTtFQUNJLGlCQUFpQjtFQUNqQixvQkFBbUI7QUNUdkI7O0FEV0E7RUFDSSxrQkFBa0I7RUFDbEIscUJBQW9CO0FDUnhCOztBRFVBO0VBQ0ksV0EzQ1k7RUE0Q1osZUFBZTtFQUNmLGtDQXJDZ0M7RUFzQ2hDLDBCQUEwQjtBQ1A5Qjs7QURTQTtFQUNJLFdBakRZO0VBa0RaLGVBQWU7RUFDZiwrQkE3Q3lCO0VBOEN6Qix5QkFBeUI7QUNON0I7O0FEUUE7RUFDSSxXQXZEWTtBQ2tEaEI7O0FEVUE7RUFDSSxrQkFBa0I7QUNQdEI7O0FEU0E7RUFDSSxXQUFXO0VBQ1gsWUFBWTtFQUNaLGNBQWM7RUFDZCxlQUFlO0VBQ2YsbUJBQW1CO0VBQ25CLHlCQUF5QjtFQUN6QixtQkFBbUI7RUFDbkIsdUJBQXVCO0VBQ3ZCLG9CQUFvQjtBQ054Qjs7QURRQTtFQUNJLGNBQWM7RUFDZCxlQUFlO0VBQ2YsZ0JBQWdCO0FDTHBCOztBRE9BO0VBQ0ksU0FBUztFQUNULGNBL0VnQjtBQzJFcEI7O0FETUE7RUFDSSxjQUFlO0FDSG5COztBREtBO0VBQ0kseUJBQXlCO0VBQ3pCLGdCQUFnQjtFQUNoQixlQUFlO0VBQ2Ysa0JBQWtCO0FDRnRCOztBRElBO0VBQ0ksa0NBckZnQztFQXNGaEMsZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixjQUFjO0FDRGxCOztBRElBO0VBQ0kseUJBQXlCO0FDRDdCOztBREdBO0VBQ0ksaUJBQWlCO0FDQXJCOztBREVBO0VBQ0ksb0JBQW9CO0FDQ3hCOztBRENBO0VBQ0ksc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWixrQkFBa0I7QUNFdEI7O0FEQUE7RUFDSSwwQkFBMEI7RUFDMUIsZ0JBQWdCO0VBQ2hCLGNBQWM7RUFDZCxlQUFlO0VBQ2YsZ0JBQWdCO0FDR3BCOztBRERBO0VBQ0ksMEJBQTBCO0VBQzFCLGtDQWxIZ0M7RUFtSGhDLGNBekhnQjtFQTBIaEIsb0JBQW9CO0FDSXhCOztBREZBO0VBQ0ksYUFBYTtBQ0tqQiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */