// GLOBAL
*, *::before, *::after {
    box-sizing:border-box;
    }


// Colors
$color-main:#fff;
$color-dark:#1e272e;
$color-light:#808e9b;
$color-logo:#ffd32a;

// Fonts
$font-text:'Lato', sans-serif;
$font-logo:'Viaoda Libre', cursive;
$font-subtitle:'Yellowtail', cursive;
// @import "scss/fontawesome.scss"

.bagr {
    background-image: url("https://images.pexels.com/photos/306763/pexels-photo-306763.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    background-position: center center;
}

// section LOGO NAV
.logo-nav{
    padding-top: 20px;
}
.logo {
    color: #ffd32a;
    font-size: 30px;
    font-family: $font-logo;
    text-align: center;
}
.nav-link{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
.greet {
    margin-top: 120px;
    padding-bottom:90px;
}
.welcome {
    text-align: center;
    margin:60px 0 40px 0;
}
.welcome h4 {
    color: $color-main;
    font-size: 40px;
    font-family: $font-subtitle;
    text-transform: capitalize;
}
.welcome h2 {
    color: $color-main;
    font-size: 60px;
    font-family: $font-text;
    text-transform: uppercase;
}
.btn-warning{
    color: $color-main;
}

// section services

.icons{
    text-align: center;
}
.icons i {
    width: 80px;
    height: 80px;
    color: #ffd32a;
    font-size: 40px;
    border-radius: 40px;
    border: #ffd32a solid 4px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.icons h4 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: 700;
}
.icons p{
    margin: 0;
    color: $color-light;
}
.services {
    margin: 60px 0 ;
}
.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.subtitle {
    font-family: $font-subtitle;
    font-size: 20px;
    text-align: center;
    color: #808e9b;
}
// section our portfolio
.our-portfolio {
    background-color: #f5f6fa;
    padding-bottom: 40px;
}
.our-portfolio h2 {
    padding-top: 60px;
}
.our-portfolio h5 {
    padding-bottom: 60px;
}
.description {
    background-color: #fff;
    width: 350px;
    text-align: center;
}
.title-box {
    text-transform: capitalize;
    font-weight: 700;
    color: #1e272e;
    padding: 15px 0;
    margin-bottom: 0;
}
.subtitle-box {
    text-transform: capitalize;
    font-family: $font-subtitle;
    color: $color-light;
    padding-bottom: 20px;
}
.our-portfolio img {
    height: 233px;
}
.page {
    text-align: center;
    font-weight: 500;
    padding: 20px;
}
.social{
    padding:20px;
}
.social ul{
    text-align:center;
}
.social{ 
    li {
        i {
    color:#fff;
    font-size:15px;
            }
        }
    }   
.social{
    li{
        font-size:0;
        width:30px;
        height:30px;
        background: #1e272e;
        border-radius:15px;
        margin-right: 10px;
        display: inline-block;
        line-height:30px;
        }
    }
